/* CSS for HangoutsXBlock */

.hangouts-block {
	width: 100%;
	padding-bottom: 62.5%;
	background: #666;
	color: #fff;
	position: relative;
}

.hangouts-content {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hangouts-title,
.hangouts-content h3 {
	margin: 0 !important;
	padding: 20px 30px 0;
	line-height: 1.6;
	color: #fff;
}

.hangouts-button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -87px !important;
	overflow: hidden;
	border-radius: 3px;
	z-index: 2;
}

.hangouts-youtube {
	position: absolute;
	display: block;
	width: 100% !important;
	height: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}